*{
  box-sizing: border-box;
}
.hero{
  background-image: url("images/hero.jpg");
  background-position: top;
  background-size: cover;
}

.logo-bottom{
  font-weight: bold;
  font-style:italic;
  float: right;
  padding-right: 8px;
}

.nav-link{
  font-weight: bold;
  color: white !Important;
}

.ctatext{
  color: white;
  padding-top: 175px;
  margin-left: 50px;
}
.lookma{
  padding-top: 100px;
}

.nohands{
  font-style: italic;
  font-style: bold;
}

.btn-primary{
  background-color: red !Important;
  border-color: red !Important;
}

.ig-rel{
  position: relative;
}

.ig-abs{
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
}

.fys{
  padding-left: 75px;
}

.dollars{
  padding-top: 30px;
}

.colors{
  margin-top: -1rem !important;
}

.cond{
  margin-top: 100px;
}

.edu{
  color: red;
}

.colcond{
  padding-left: 100px;
  padding-top: 75px;
}

.featurestitle{
  padding-left: 100px;
  padding-bottom: 25px;
}

.featurelist{
  background-image: url("images/features-background.jpg");
  background-size: cover;
  background-position: center;

  font-size: 150%;
  padding-left: 60px;
  padding-top: 25px;
}

.footer{
  background-color: black;
}
