.hero{
  background-image: url("images/hero.jpg");
  background-position: top;
  background-size: cover;
}

.logo-bottom{
  font-weight: bold;
  font-style:italic;
  float: right;
  padding-right: 8px;
}

.nav-link{
  font-weight: bold;
  color: white !Important;
}

.ctatext{
  color: white;
  padding-top: 175px;
  margin-left: 50px;
}

.nohands{
  font-style: italic;
  font-style: bold;
}

.btn-primary{
  background-color: red !Important;
  border-color: red !Important;
}
