.hero{
  background-image: url("images/hero.jpg");
  background-position: top;
  background-size: cover;
}

.logo-bottom{
  font-weight: bold;
  font-style:italic;
  float: right;
  padding-right: 8px;
}

.nav-link{
  font-weight: bold;
  color: white !Important;
}

.nohands{
  font-style: italic;
  font-style: bold;
}
